* {
    box-sizing: border-box;
}

/**======== Main Styles ========**/

body {
    display: flex;
    flex-direction: column;
    font-family: 'Source Sans Pro', sans-serif;
}

main {
    padding: 0 10px 50px 10px;
    background-color: seashell;
}

header {
   text-transform: uppercase;
}

header,
button {
    background-color: darkslategray;
    color: white;
}

h1 {
    max-width: 90%;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 20px;
}

h2 {
    color: darkslategray;
}

.sign-up,
header {
   text-align: center; 
}

.sign-up {
    border-bottom: 4px solid black;
    padding-bottom: 20px;
}

.sign-up p {
    color: grey;
    width: 80%;
    margin: auto;
}

footer {
    text-align: center;
    font-size: .8em;
    padding-top: 10px;
}

.flex {
    display: flex;
    flex-direction: column;
}



/*======== Form Styles ========*/

.form {
    border-top: 2px solid black;
    margin-top: 3px;
}

fieldset {
    border: none;
}

.contact {
    border-bottom: 2px solid black;
    padding-bottom: 30px;
}

.contact {
    display: flex;
}

::placeholder {
    color: grey;
    text-align: right;    
    padding-right: 10px;
    opacity: 50%;
    font-style: italic;
}

.contact label,
.newsletter label {
    color: grey;
    margin: 10px 0;
}

.contact input,
.contact select,
.textarea,
button {
    border: none;
    border-radius: 5px;
}

.contact input,
.contact select,
.textarea {
    background-color: white; 
}

.contact input,
.contact select {
    height: 40px;
    width: 100%;
}

.textarea {
    min-height: 120px;
    min-width: 100%;
}

.contact input:focus,
.contact select:focus,
.textarea:focus {
    transition-duration: 1s;
}

.contact input:focus,
.contact select:focus,
.textarea:focus,
button:active {
    color: white;
    background-color: lightskyblue;
}

.contact input:focus,
.contact select:focus,
.textarea:focus,
button:active,
button:focus {
    outline: none;
}

input[id="zip"] {
    width: 50%;
}

input[type="checkbox"],
input[type="radio"] {
    margin-top: 20px;
    margin-right: 10px;
    margin-left: 20px;
}

.btn {
    text-align: center;
    margin: 0 auto;
}

button {
    width: 90%;
    height: 80px; 
}

textarea {
    resize: none;
}

/*======== Media Queries ========*/

@media (min-width: 768px) {

   .container {
        margin: 0 auto;
        max-width: 60%;
   } 

   .contact {
       flex-direction: row;
       flex-wrap: wrap;
   }

   
   .flex {
       flex-direction: row;
       align-items: center;
       justify-content: space-between;
   }

   .flex input,
   .flex select {
       width: 70%;;
       margin-top: 10px;
   }

   input[id="zip"] {
        width: 25%;
        margin-right: 45%;
    }


}